In [ ]:
#Write a program,  my age is more than 20 print teen_age other wise print younge_age?

In [3]:
age = 18 #who am i?
if age > 20:
    print("you are teen_age",age,"your age is more than 20")
else :
    print ("you are young_age","your age is :",age, "your age is less than 20")

you are young_age your age is : 18 your age is less than 20

In [51]:


variable operator value

In [52]:
day = ["monday", "tuesday", "wednesday", "thursday", "friday"]
if day :
    print ("week_days")
else:
    print ("weekend_days")

week_days

In [55]:
# Test1:

day="thurday"

md="Monday"
td="tueday"

if day==md:
    print("weekday")
elif day=="tuesday":
    print("weekday")
elif day=="wendsday":
    print("weekday")
elif day=="thurday":
    print("weekday")
elif day=="friday":
    print("weekday")
else:
    print("weekend")

weekday

In [ ]:
# Test2:

day="sunday"

if day==md:
    print("weekday")
elif day=="tuesday":
    print("weekday")
elif day=="wendsday":
    print("weekday")
elif day=="thurday":
    print("weekday")
elif day=="friday":
    print("weekday")
else:
    print("weekend")

In [ ]:
# Test2:

day="sunday"

if day==md:
    print("weekday")
elif day=="tuesday":
    print("weekday")
elif day=="wendsday":
    print("weekday")
elif day=="thurday":
    print("weekday")
elif day=="friday":
    print("weekday")
else:
    print("weekend")

In [ ]:
#Scenario1: Today my business income is 10/- if my income is more than 10/- then print "i am profitable" otherwise print "i lost"

In [57]:
income = 10
if income >10:
    print ("i am prifitable")
else:
    print ("i lost")

i am prifitable

In [ ]:
#Scenario2: your age is more than your sister age then print "i am elder" otherwise print "i am younger"

In [58]:
age = 20
if age <30:
    print("i am younger")
else:
    print("i am elder")

i am younger

In [ ]:
#Scenario3:festival offer in my shop. 
#purchase amount more than 100 then print 30% discount.
#purchase amount less than 50 then print 10% discount 
#otherwise print 20% discount.

In [69]:

billamount=70

if billamount >100:
    disc=billamount*.30
    print("disc",disc)
    final_amt=billamount-disc
    print("final amount",final_amt)
elif billamount<50:
    disc=billamount*.1
    print("disc",disc)
    final_amt=billamount-disc
    print("final amount",final_amt)
    print
else:
    disc=billamount *  .20
    print("disc",disc)
    final_amt=billamount-disc
    print("final amount",final_amt)

disc 14.0
final amount 56.0

In [1]:
billamount=200

if billamount >100:
    disc=billamount*.30
    print("disc",disc)
    final_amt=billamount-disc
    print("final amount",final_amt)
elif billamount<50:
    disc=billamount*.1
    print("disc",disc)
    final_amt=billamount-disc
    print("final amount",final_amt)
    print
else:
    disc=billamount *  .20
    print("disc",disc)
    final_amt=billamount-disc
    print("final amount",final_amt)

disc 60.0
final amount 140.0

In [ ]:
# Scenario4:my movie theater prices. price is 140 print balcony. price is 50 print chair. price is 100 print bench

In [4]:
ticket = int(input("enter amount:"))

enter amount:100

In [5]:
if ticket==160:
    print("balcony")
if ticket ==50:
    print ("chair")
if ticket == 100:
    print("bench")

bench

In [ ]:
#my showroom vehicle types. 
#Scenario5: my showroom vehicle types. 
#if vehicle type is two wheeler print bike and scooty. 
#if vehicle type is four wheeler print car, loory, van and zeep

In [6]:
vehical_type= str(input("Enter your vehical type:"))

Enter your vehical type:two wheeler

In [7]:
if vehical_type == "two wheeler":
    print("bike", "scooty")
if vehical_type == "four wheeler":
    print ("car", "loory", "van", "zeep")

bike scooty